:root {
    text-align: center;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "permanentMarker";
    src: url(./fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: "bebas";
    src: url(./fonts/BebasNeue-Regular.ttf);
}

.header {
    color: #2c5e44;
    font-family: 'permanentMarker';
    font-size: 4rem;
}

.newBook {
    all: unset;
    font-size: 62px;
    background-color: #2c5e44;
    color: white;
    width: 76px;
    height: 76px;
    border-radius: 50%;

}

.newBook:hover {
    background-color: #234b36;
    color: rgb(236, 236, 236);
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 4vh 10vw;
}
.card > h4 {
    margin-top: 12px;
    margin-bottom: 2px;
    font-family: "permanentMarker";
}


.card > p {
    margin-top: 2px;
    margin-bottom: 12px;
    font-family: "bebas";
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #2c5e44;
    color: white;
    min-height: 45vh;
    min-width: 15vw;
    font-size: 32px;
    border-radius: 18px;

    margin: 22px;
}

.formContainer {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

#form {

    font-size: 32px;
    padding: 20px;

    border-radius: 18px;
    width: 320px;
    height: 550px;

    background-color: #2c5e44;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: relative;

    font-family: "permanentMarker";
}

#form > *:nth-child(2) {
    margin-top: 8px;
}

#form input {
    width: 250px;
    height: 32px !important;
    border-radius: 10px;
    padding: 12px;
    font-size: 26px;
    font-family: "bebas";
}



#submitButton {
    all: unset;

    padding: 8px 40px;
    margin: 32px !important;
    color: #2c5e44;
    background-color: white;

    font-family: "bebas";
    font-size: 28px;

    border-radius: 12px;

    margin-top: 2vh;
}

#close {
    all: unset;

    width: 36px;
    height: 36px;

    border-radius: 50%;

    color: #2c5e44;
    background-color: white;
    font-family: "bebas";

    position: absolute;

    right: 20px;

    
}

.title {
    justify-self: center;

}

.titleAndClose {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 320px;
}

.remove {
    all: unset;
    background: white;
    color: #2c5e44;
    padding: 8px 60px;
    border-radius: 12px;
    font-size: 24px;
    margin: 16px;
    font-family: "bebas";
}

.remove:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
