:root {
    text-align: center;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}


.books {
    display: flex;
    margin: 4vh 10vw;
}

.card {
    height: 80px;
    width: 80px;

    background-color: aliceblue;
}

#form {
    width: 15vw;
    height: 10vh;
    border: 1px solid black;
}