:root {
    text-align: center;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "permanentMarker";
    src: url(./fonts/PermanentMarker-Regular.ttf);
}

.header {
    color: #2c5e44;
    font-family: 'permanentMarker';
    font-size: 4rem;
}
.books {
    display: flex;
    margin: 4vh 10vw;
}

.card {

    background-color: #2c5e44;
    color: white;
}

.formContainer {
    position: fixed;
}

#form {
    width: 16vw;
    height: 30vh;

    background-color: #2c5e44;
    color: white;

    position: absolute;
    top: 15vh;
    left: calc(50% - 8vw);

    align-items: center;
    justify-content: space-evenly;
}

#form input {
    width: 14vw;
}

#submitButton {
    margin-top: 2vh;
}

#close {
    position: absolute;
    top: 1.5vh;
    right: 1.5vh;
}